.list-cell:empty {
    -fx-opacity: 0;
}

.message-bubble {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-padding: 5px;
}

.my-message {
    -fx-background-color: #effdde;
}

.gpg-message {
    -fx-border-style: dashed;
}

.unread-message {
    -fx-border-color: blue;
}

.sender-label {
    -fx-fill: blue;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
}

.msg-date {
    -fx-font-size: 11px;
    -fx-font-style: italic;
    -fx-text-fill: #777;
    -fx-alignment: center-right;
}

.bold {
    -fx-font-weight: bold;
}

.centered-label {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.pt {
    -fx-padding: 10 0 0 0;
}

.pt-2 {
    -fx-padding: 20 0 0 0;
}

.pb {
    -fx-padding: 0 0 10 0;
}

.btn {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(70, 70, 70, 0.8), 5, 0, 1, 1);
}

.text-interactive:hover {
    -fx-font-weight: bold;
}

.btn-20 {
    -fx-background-size: 20 20;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
}

.btn-30 {
    -fx-background-size: 30 30;
    -fx-min-height: 30px;
    -fx-min-width: 30px;
}

.text-left {
    -fx-alignment: center-left;
}

.error {
    -fx-text-fill: red;
}

.success {
    -fx-text-fill: green;
}

.description {
    -fx-font-style: italic;
}

#chatSettingsBtn, .message-action-btn {
    -fx-background-image: url("icons/icons8-settings.png");
}

#attachFileBtn {
    -fx-background-image: url("icons/icons8-document.png");
}

#sendMsgBtn {
    -fx-background-image: url("icons/icons8-send.png");
}

.removeSelectedFileBtn, #closeSidebarBtn, #closeChatBtn, #removeReplyToBtn {
    -fx-background-image: url("icons/icons8-remove.png");
}

#toggleSidebarBtn {
    -fx-background-image: url("icons/icons8-menu.png");
}

#chatTitleLabel {
    -fx-padding: 5px;
    -fx-font-weight: bold;
}

#selectedFileLabel {
    -fx-padding: 5px;
}

#newMessagesBtn {
    -fx-background-color: #1faff8;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-padding: 5px;
}

.dragging {
    -fx-border-width: 2px;
    -fx-border-color: blue;
    -fx-border-style: dashed;
}

.reaction-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(70, 70, 70, 0.8), 5, 0, 1, 1);
}

.replies-box {
    -fx-border-color: rgba(173,216,230,1);
    -fx-border-style: none none none solid;
    -fx-border-width: 0 0 0 3px;
    -fx-background-color: rgba(173,216,230,0.5);
    -fx-padding: 5px;
}
